<h1>服務管理頁面</h1>

<table>
  <thead>
    <tr>
      <th>服務名稱</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.name %></td>
        <td><%= link_to 'Edit', edit_service_path(service), class: "btn btn-info" %></td>
        <td><%= button_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新增服務', new_service_path, class: "btn btn-success" %>
<%= link_to '回管理主頁', root_path, class: "btn btn-primary" %>