<h1>服務管理頁面</h1>
<% Brand.all.each do |brand| %>
<h2><%= brand.name %></h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">服務名稱</th>
      <th scope="col">品牌</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% brand.services.each_with_index do |service, key| %>
      <tr>
        <th scope="row"><%= key + 1 %></th>
        <td><%= service.name %></td>
        <td><%= service.brand.name %></td>
        <td>  
          <div class="btn-group" role="group">
          <%= link_to '編輯', edit_service_path(service), class: "btn btn-info" %>
          <%= button_to '刪除', service, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<br>

<%= link_to '新增服務選項', new_service_path, class: "btn btn-success" %>
<%= link_to '回管理主頁', root_path, class: "btn btn-primary" %>