<a href="#" id="previewYahooBtn" class="btn btn-primary">預覽yahoo html</a>
<a href="#" id="previewRutenBtn" class="btn btn-success">預覽ruten html</a>
<a href="#" id="previewShopeeBtn" class="btn btn-info">預覽shopee html</a>
<a href="#" id="removePreview" class="btn">取消預覽</a>
<div id="preview">
  <div id="previewYahooDiv">
    <h3>[Yahoo]</h3>
    <h2 id="titleYahoo"><%= @template.product_name_yahoo %></h2>
    <button id="copyTitleYahoo" class="btn btn-success">複製標題</button>
    <div id="previewYahoo"></div>
    <h3>HTML源碼</h3>
    <button id="copySourceCodeYahoo" class="btn btn-success">複製HTML源碼</button>
    <%= link_to "回首頁", root_path, class: "btn" %>
    <div id="sourceCodeYahoo"></div>
  </div>
  <div id="previewRutenDiv">
    <h3>[Ruten]</h3>
    <h2 id="titleRuten"><%= @template.product_name_ruten %></h2>
    <button id="copyTitleRuten" class="btn btn-success">複製標題</button>
    <div id="previewRuten"></div>
    <h3>HTML源碼</h3>
    <button id="copySourceCodeRuten" class="btn btn-success">複製HTML源碼</button>
    <%= link_to "回首頁", root_path, class: "btn" %>
    <div id="sourceCodeRuten"></div>
    
  </div>
  <div id="previewShopeeDiv">
    <h3>[Shopee]</h3>
    <h2 id="titleShopee"><%= @template.product_name_shopee %></h2>
    <button id="copyTitleShopee" class="btn btn-success">複製標題</button>
    <div id="previewShopee" style="display:none"></div>
    <h3>排版</h3>
    <button id="copySourceCodeShopee" class="btn btn-success">複製文字</button>
    <%= link_to "回首頁", root_path, class: "btn" %>
    <div id="sourceCodeShopee"></div>
  </div>
<div>