<h2><%= @product.name if @product %> HTML範本</h2>
<% if params[:product_id] %>
  <%= link_to "新增範本", new_product_template_path, class: "btn btn-success" %>
<% else %>
  <%= link_to "新增範本", new_template_path, class: "btn btn-success" %>
<% end %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">範本名稱</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @templates.each_with_index do |template, key| %>
      <tr>
        <th scope="row"><%= key + 1 %></th>
        <td>
          <% if params[:product_id] %>
            <%= link_to product_template_path(@product, template) do %>
              <%= template.template_name %>
            <% end %>
          <% else %>
            <%= link_to template_path(template) do %>
              <%= template.template_name %>
            <% end %>
          <% end %>
        </td>
        <td>  
          <div class="btn-group" role="group">
          <% if @product %>
            <%= link_to '編輯', edit_product_template_path(@product, template), class: "btn btn-info" %>
          <% else %>
            <%= link_to '編輯', edit_template_path(template), class: "btn btn-info" %>
          <% end %>
          <%= button_to '刪除', template_path(template, product_id: params[:product_id]), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger", onclick: "return confirm('你確定要刪除嗎？')" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to '回管理主頁', root_path, class: "btn btn-primary" %>