<h2><%= @product.name if @product %> HTML範本</h2>
<% if params[:brand_id] && params[:product_id] %>
  <%= link_to "新增範本", new_brand_product_template_path, class: "btn btn-success" %>
<% else %>
  <%= link_to "新增範本", new_template_path, class: "btn btn-success" %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">範本名稱</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <% if params[:brand_id] && params[:product_id] %>
  <tbody>
    <% @templates.each_with_index do |template, key| %>
      <tr>
        <th scope="row"><%= key + 1 %></th>
        <td>
          <%= link_to brand_product_template_path(@brand, @product, template) do %>
            <%= template.template_name %>
          <% end %>
        </td>
        <td>  
          <div class="btn-group" role="group" style="display:flex">
          <%= link_to '編輯', edit_brand_product_template_path(@brand, @product, template), class: "btn btn-info" %>
          <% if current_user %>
            <%= button_to '刪除', brand_product_template_path(@brand, @product, template), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger", onclick: "return confirm('你確定要刪除嗎？')" %>
          <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
  <% else %>
  <tbody>
    <% @templates.each_with_index do |template, key| %>
      <tr>
        <th scope="row"><%= key + 1 %></th>
        <td>
          <%= link_to template_path(template) do %>
            <%= template.template_name %>
          <% end %>
        </td>
        <td>  
          <div class="btn-group" role="group" style="display:flex">
            <%= link_to '編輯', edit_template_path(template), class: "btn btn-info" %>
            <% if current_user %>
              <%= button_to '刪除', template_path(template), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger", onclick: "return confirm('你確定要刪除嗎？')" %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
  <% end %>
</table>


<%= link_to '回管理主頁', root_path, class: "btn btn-primary" %>