<h2>建立範本</h2>
<div id="createTemplatePage"></div>
<form>
  <div class="form-group">
    <input class="form-control" type="text" name="template_name" placeholder="範本名稱" value="<%= @default_name  %>">
  </div>
  <div class="form-group">
    <textarea type="text" id= "summernote" name="editor_data"><%= @editor_data %></textarea>
  </div>
  <div class="form-group">
    <textarea class="form-control" type="text" name="product_description" placeholder="產品介紹" rows="6"><%= @product_description %></textarea>
  </div>
  <div class="form-group">
    <textarea class="form-control" type="text" name="available_spec" placeholder="適用型號" rows="6"><%= @available_spec %></textarea>
  </div>
  <div class="form-row">
    <div class="form-group col-xs-3">
      <input class="form-control" type="text" name="information1_title" placeholder="訊息1" value="<%= @information1_title %>">
    </div>
    <div class="form-group col-xs-9">
      <input class="form-control" type="text" name="information1_content" placeholder="訊息1內容" value="<%= @information1_content %>">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-xs-3">
      <input class="form-control" type="text" name="information2_title" placeholder="訊息2" value="<%= @information2_title %>">
    </div>
    <div class="form-group col-xs-9">
      <input class="form-control" type="text" name="information2_content" placeholder="訊息2內容" value="<%= @information2_content %>">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-xs-3">
      <input class="form-control" type="text" name="information3_title" placeholder="訊息3" value="<%= @information3_title %>">
    </div>
    <div class="form-group col-xs-9">
      <input class="form-control" type="text" name="information3_content" placeholder="訊息3內容" value="<%= @information3_content %>">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-xs-3">
      <input class="form-control" type="text" name="information4_title" placeholder="訊息4" value="<%= @information4_title %>">
    </div>
    <div class="form-group col-xs-9">
      <input class="form-control" type="text" name="information4_content" placeholder="訊息4內容" value="<%= @information4_content %>">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-xs-3">
      <input class="form-control" type="text" name="information5_title" placeholder="訊息5" value="<%= @information5_title %>">
    </div>
    <div class="form-group col-xs-9">
      <input class="form-control" type="text" name="information5_content" placeholder="訊息5內容" value="<%= @information5_content %>">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-xs-3">
      <input class="form-control" type="text" name="information6_title" placeholder="訊息6" value="<%= @information6_title %>">
    </div>
    <div class="form-group col-xs-9">
      <input class="form-control" type="text" name="information6_content" placeholder="訊息6內容" value="<%= @information6_content %>">
    </div>
  </div>
  <h3>加購區</h3>
  <div class="form-row">
    <div class="form-group">
      <button id="addBuyMoreItemButton" class="btn btn-info">＋</button>
      <button id="removeBuyMoreItemButton" class="btn btn-danger">-</button>
    </div>
  </div>
  <div id="buyMoreItemsArea">
    <div class="form-row">
      <div class="form-group col-md-3">
        <input class="form-control" type="text" name="buyMoreItem-1" placeholder="商品1">
      </div>
      <div class="form-group col-md-9">
        <input class="form-control" type="text" name="buyMoreItem-1" placeholder="商品網址1">
      </div>
    </div>
  </div>
  <h3>注意事項</h3>
  <div class="form-group">
    <textarea class="form-control" type="text" name="col2" placeholder="注意事項" rows="6"><%= @warning %></textarea>
  </div>
  <h3>商品保固</h3>
  <div class="form-group">
    <textarea class="form-control" type="text" name="col2" placeholder="商品保固" rows="6"><%= @gaurantee %></textarea>
  </div>
  <h3>保固範圍</h3>
  <div class="form-group">
    <textarea class="form-control" type="text" name="col2" placeholder="保固範圍" rows="6"><%= @gaurantee_scope %></textarea>
  </div>
  <h3>使用須知</h3>
  <div class="form-group">
    <textarea class="form-control" type="text" name="col2" placeholder="使用須知" rows="6"><%= @notice_for_use %></textarea>
  </div>
  <h3>商品說明</h3>
  <div class="form-group">
    <textarea class="form-control" type="text" name="col2" placeholder="商品說明" rows="6"><%= @product_declaration %></textarea>
  </div>
  <h3>圖片區</h3>
  <div class="form-row">
    <div class="form-group">
      <button id="addImageButton" class="btn btn-info">＋</button>
      <button id="removeImageButton" class="btn btn-danger">-</button>
    </div>
  </div>
  <div id="ImagesArea">
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="image-${i+1}">圖片1</label>
        <input class="form-control" type="text" name="col3-1" placeholder="商品網址1">
      </div>
    </div>
  </div>

  <div>
    <a href="#" class="btn btn-primary" target="_blank">預覽html</a>
    <input class="btn btn-success" type="submit" value="儲存範本"">
  </div>
</form>