<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-8">拍賣商品服務資料</h1>
		<ol>
			<li><%= link_to "新增品牌", new_brand_path %></li>
			<li><%= link_to "新增服務選項", services_path %></li>
			<li><%= link_to "新增產品", new_product_path %></li>
			<li><%= link_to "管理HTML範本", templates_path %></li>
		</ol>
  </div>
</div>

	<% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "flash #{key}", style: "color:red;" %>
	<% end %>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<h3>
				品牌
			</h3>
      <div class="list-group">
        <% @brands.each do |brand| %>
				<div class="row">
					<% if @current_brand.id.to_s == brand.id.to_s %>
					<div class="col-md-9">
						<%= link_to "#{brand.name}", 
							root_path(brand_id: brand.id), 
							class: "list-group-item list-group-item-action active"
						%>
					</div>
					<div class="col-md-3">
						<div class="btn-group" role="group">
							<%= button_to "編輯", edit_brand_path(brand), method: :get, class: "btn btn-info btn-xs"%>
							<%= button_to "刪除", brand, method: :delete, class: "btn btn-danger btn-xs", onclick: "return confirm('你確定要刪除嗎？')"%>
						</div>
					</div>
					<% else %>
					<div class="col-md-9">
							<%= link_to "#{brand.name}", 
								root_path(brand_id: brand.id), 
								class: "list-group-item list-group-item-action" 
							%>
					</div>
					<% end %>
				</div>
        <% end %>
      </div>
		</div>
		<div class="col-md-4">
			<h3>
				產品型號
			</h3>
			<div class="list-group">
        <% @products.each do |product| %>
					<div class="row">
							<% if @current_product.id.to_s == product.id.to_s %>
								<div class="col-md-9">
									<%= link_to "#{product.name}", root_path(brand_id: product.brand_id, product_id: product.id), class: "list-group-item list-group-item-action active" %>
								</div>
								<div class="col-md-3">
									<div class="btn-group" role="group">
										<%# <%= button_to "露天html", product_path(product), method: :get, class: "btn btn-success btn-xs"%> 
										<%= link_to "html", "/products/#{product.id}/templates", method: :index, class: "btn btn-primary btn-xs"%>
										<%= button_to "編輯", edit_product_path(product), method: :get, class: "btn btn-info btn-xs"%>
									</div>
								</div>
							<% else %>
								<div class="col-md-9">
									<%= link_to "#{product.name}", root_path(brand_id: product.brand_id, product_id: product.id), class: "list-group-item list-group-item-action" %>
								</div>
							<% end %>
					</div>					
        <% end %>
			</div> 
		</div>
			<div class="col-md-4">
				<h3>
					服務與價格
				</h3>
				<table class="table">
					<thead>
						<tr>
							<th>
								#
							</th>
							<th>
								服務
							</th>
							<th>
								yahoo價格
							</th>
							<th>
								ruten價格
							</th>
							<th>
								shopee價格
							</th>
						</tr>
					</thead>
					<tbody>
					<% @services.each_with_index do |service, index| %>
						<tr>
							<td>
								<%= index + 1 %>
							</td>
							<td>
								<%= service[:name] %>
							</td>
							<td>
								<%= service[:yahoo_price] %>
							</td>
							<td>
								<%= service[:ruten_price] %>
							</td>
							<td>
								<%= service[:shoppe_price] %>
							</td>
						</tr>
						<% end %>
					</tbody>
				</table> 
		</div>
	</div>
</div>
