<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <p>新增失敗，請確認：</p>
    <% product.errors.full_messages.each do |message| %>
      <div class="alert alert-secondary" role="alert">
        <%= message %>
      </div>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= form.label "品牌名稱" %>
    <%= form.collection_select :brand_id, Brand.order(:name), :id, :name,{}, {:class=> "form-control"} %>
  </div>

  <div class="form-group">
    <%= form.label "名稱" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "服務/價錢" %>

    <div class="row">
      <% if @services && @services.any? %>
        <% @services.each do |service| %>

          <% if @current_services && @current_services.include?(service) %>
            <div class="form-check col-md-4" style="padding: 15px;">
              <%= check_box_tag "service_ids[]", service.id, true,  class: 'radio-checkbox form-check-input' %>
              <%= label_tag( "#{service.name}") %>
              <%= text_field_tag "prices[#{service.id}]", Price.find_by(service_id: service.id, product_id: product.id).price, class: "form-control" %>
            </div>
          <% else %>
            <div class="form-check col-md-4" style="padding: 15px;">
              <%= check_box_tag "service_ids[]", service.id, false,  class: 'radio-checkbox form-check-input' %>
              <%= label_tag( "#{service.name}") %>
              <%= text_field_tag "prices[#{service.id}]", nil, class: "form-control", placeholder: "請輸入價錢" %>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <p>p.s.沒有可選擇的服務，請至服務管理頁面新增服務</p>
      
    <% end%>
    </div>
  </div>

  <div class="form-group col-md-12">
    <%= form.submit "提交", class: "btn btn-success" %>
  </div>
<% end %>
