<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :brand_id %>
    <%= form.collection_select :brand_id, Brand.order(:name), :id, :name %>
  </div>

  <div class="field">
    <%= form.label "名稱" %>
    <%= form.text_field :name %>
  </div>

  <% if @services && @services.any? %>
    <% @services.each do |service| %>
      <% if @current_services && @current_services.include?(service) %>
        <%= check_box_tag "service_ids[]", service.id, true,  class: 'radio-checkbox' %>
        <%= label_tag( "#{service.name}") %>
        <%= text_field_tag "prices[#{service.id}]", Price.find_by(service_id: service.id, product_id: product.id).price %>
      <% else %>
        <%= check_box_tag "service_ids[]", service.id, false,  class: 'radio-checkbox' %>
        <%= label_tag( "#{service.name}") %>
        <%= text_field_tag "prices[#{service.id}]" %>
      <% end %>
    <% end %>
  <% else %>
    <p>p.s.沒有可選擇的服務，請至服務管理頁面新增服務</p>
  <% end%>
  <div class="actions">
    <%= form.submit "提交" %>
  </div>
<% end %>
