<%= form_with(model: [brand, product], local: true) do |form| %>
  <% if product.errors.any? %>
    <p>新增失敗，請確認：</p>
    <% product.errors.full_messages.each do |message| %>
      <div class="alert alert-secondary" role="alert">
        <%= message %>
      </div>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= form.label "名稱" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

    <div class="form-group">
    <%= form.label "服務/價錢" %>

    <div class="row">
      <% if @services && @services.any? %>
        <% if params[:id] %>
          <% @services.each do |service| %>
            <div brand_id="<%= service.brand.id %>" class="service_item form-check col-md-4" style="padding: 15px;">
              <% if Price.find_by(service_id: service.id, product_id: @product.id) %>
                <%= check_box_tag "service_ids[]", service.id, true,  class: 'radio-checkbox form-check-input' %>
              <% else %>
                <%= check_box_tag "service_ids[]", service.id, false,  class: 'radio-checkbox form-check-input' %>
              <% end %>

              <%= label_tag( "#{service.name}") %>
              <% if Price.find_by(service_id: service.id, product_id: @product.id) %>
                <%= text_field_tag "yahoo_prices[#{service.id}]", Price.find_by(service_id: service.id, product_id: @product.id).yahoo, class: "form-control", placeholder: "請輸入yahoo價錢" %>
              <% else %>
                <%= text_field_tag "yahoo_prices[#{service.id}]", nil, class: "form-control", placeholder: "請輸入yahoo價錢" %>
              <% end %>
              <% if Price.find_by(service_id: service.id, product_id: @product.id) %>
                <%= text_field_tag "ruten_prices[#{service.id}]", Price.find_by(service_id: service.id, product_id: @product.id).ruten, class: "form-control", placeholder: "請輸入ruten價錢" %>
              <% else %>
                <%= text_field_tag "ruten_prices[#{service.id}]", nil, class: "form-control", placeholder: "請輸入ruten價錢" %>
              <% end %>
              <% if Price.find_by(service_id: service.id, product_id: @product.id) %>
              <%= text_field_tag "shopee_prices[#{service.id}]", Price.find_by(service_id: service.id, product_id: @product.id).shopee, class: "form-control", placeholder: "請輸入shopee價錢" %>
              <% else %>
              <%= text_field_tag "shopee_prices[#{service.id}]", nil, class: "form-control", placeholder: "請輸入shopee價錢" %>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <% @services.each do |service| %>
            <div brand_id="<%= service.brand.id %>" class="service_item form-check col-md-4" style="padding: 15px;">
              <%= check_box_tag "service_ids[]", service.id, nil,  class: 'radio-checkbox form-check-input' %>
              <%= label_tag( "#{service.name}") %>
              <%= text_field_tag "yahoo_prices[#{service.id}]", nil, class: "form-control", placeholder: "請輸入yahoo價錢" %>
              <%= text_field_tag "ruten_prices[#{service.id}]", nil, class: "form-control", placeholder: "請輸入ruten價錢" %>
              <%= text_field_tag "shopee_prices[#{service.id}]", nil, class: "form-control", placeholder: "請輸入shopee價錢" %>
            </div>
          <% end %>
        <% end %>

      <% else %>
        <p>p.s.沒有可選擇的服務，請至商品規格區新增服務</p>
      <% end%>
    </div>

  <div class="form-group">
    <%= form.submit "提交", class: "btn btn-success" %>
  </div>
<% end %>
