<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-8"><%= @product.name %></h1>
    <p>1. 按下產生HTML按鈕，觀看預覽和HTML原始碼</p>
    <p>2. 若尚未建立HTML，點擊按鈕開始編輯</p>
  </div>
</div>


<% if @template %>
  <button class="btn btn-primary mb-2" id="convertBtn">預覽HTML</button>
  <%= link_to "編輯HTML", "/products/#{@product.id}/edit_yahoo_html", class: 'btn btn-success' %>
  <%= link_to "回首頁", root_path, class: 'btn btn-info' %>
  <div id="resultHtml" style="border: 1px solid"></div>

<div id="hiddenForm" style="display:none;">
<%= form_with(model: @product, local: true) do |form| %>
  <h2>HTML原始碼</h2>
  <div id="resultHtmlCode" style="border: 1px solid"></div>
  <div class="form-group">
    <%= form.label "目前強打優惠" %>
    <%= form.text_area :highlight, id: "summernote", name: "editordata", value: @highlight %>
  </div>
  <div class="form-group">
    <%= form.label "產品介紹", id: "productDescriptionTitle"%>
    <%= 
      form.text_field :product_description_title, class: "form-control", placeholder: @product_title, value: @product_description_title
    %>
    <%= 
      form.text_area :product_description, class: "form-control", id: "productDescription", rows: "6", value: @product_description 
    %>
  </div>
  <div class="form-group">
    <%= form.label "適用型號", id: "availableSpecTitle"%>
    <%= 
      form.text_field :available_spec_title, class: "form-control", placeholder: @available_spec_title, value: @available_spec_title
    %>
    <%= 
      form.text_area :available_spec, class: "form-control", id: "availableSpec", rows: "6", value: @available_spec 
    %>  
  </div>
  <div class="form-group">
    <%= form.label "賣場細節", id: "marketplaceDetailTitle"%>
    <%= 
      form.text_area :marketplace_detail, class: "form-control", id: "marketplaceDetail", rows: "6", value: @marketplace_detail
    %>  
  </div>
  <div class="form-group">
    <%= form.label "注意事項", id: "warningTitle"%>
    <%= 
      form.text_area :warning, class: "form-control", id: "warning", rows: "6", value: @warning
    %>
  </div>
  <div class="form-group">
    <%= form.label "商品保固", id: "gauranteeTitle"%>
    <%= 
      form.text_area :gaurantee, class: "form-control", id: "gaurantee", rows: "6", value: @gaurantee
    %>
  </div>
  <div class="form-group">
    <%= form.label "保固範圍", id: "gauranteeScopeTitle"%>
    <%= 
      form.text_area :gaurantee_scope, class: "form-control", id: "gauranteeScope", rows: "6", value: @gaurantee_scope
    %>
  </div>
  <div class="form-group">
    <%= form.label "使用須知", id: "noticeForUseTitle"%>
    <%= 
      form.text_area :notice_for_use, class: "form-control", id: "noticeForUse", rows: "6", value: @notice_for_use
    %>
  </div>
  <div class="form-group">
    <%= form.label "商品說明", id: "productDeclarationTitle"%>
    <%= 
      form.text_area :product_declaration, class: "form-control", id: "productDeclaration", rows: "6", value: @product_declaration 
    %>
  </div>

  <div class="form-group">
    <%= form.label "圖片1" %>
    <%= form.text_field :image_1, class: "image", placeholder:"https://example.com", value: @image_1 %>
    <%= form.label "圖片2" %>
    <%= form.text_field :image_2, class: "image", placeholder:"https://example.com", value: @image_2 %>
    <%= form.label "圖片3" %>
    <%= form.text_field :image_3, class: "image", placeholder:"https://example.com", value: @image_3 %>
  </div>

  <div class="form-group">
    <%= form.label "加購區", id: "productDeclarationTitle"%>

    <%= form.text_field :buy_more_product_1, class: "form-control buyMoreProductName", placeholder:"商品1", value: @buy_more_product_1 %>
    <%= form.text_field :buy_more_product_url_1, class: "form-control buyMoreProductUrl", placeholder:"商品1網址", value: @buy_more_product_url_1 %>

    <%= form.text_field :buy_more_product_2, class: "form-control buyMoreProductName", placeholder:"商品2", value: @buy_more_product_2 %>
    <%= form.text_field :buy_more_product_url_2, class: "form-control buyMoreProductUrl", placeholder:"商品1網址", value: @buy_more_product_url_2 %>

    <%= form.text_field :buy_more_product_3, class: "form-control buyMoreProductName", placeholder:"商品3", value: @buy_more_product_3 %>
    <%= form.text_field :buy_more_product_url_3, class: "form-control buyMoreProductUrl", placeholder:"商品1網址", value: @buy_more_product_url_3 %>

    <%= form.text_field :buy_more_product_4, class: "form-control buyMoreProductName", placeholder:"商品4", value: @buy_more_product_4 %>
    <%= form.text_field :buy_more_product_url_4, class: "form-control buyMoreProductUrl", placeholder:"商品1網址", value: @buy_more_product_url_4 %>
  </div>
<% end %>
</div>

<% else %>
  <h2>尚未創造HTML，請點擊按鈕開始編輯</h2>
  <%= link_to "Go", "/products/#{@product.id}/new_yahoo_html", class: 'btn btn-primary' %>
<% end %>